$color-primary: #222;
$color-bg: #DDD;
$font-family: Arial, Helvetica, sans-serif;

body {
	background: $color-bg;
	color: $color-primary;
	max-width: 80%;
	margin: 0 auto;
	font-family: $font-family;
}
